.createRoom {
  width: 50%;
  height: 100px;
  background-color: #AEAEAE;
  margin-top: 20px;
  float: right;
  clear: both;
}

.roomList {
  background-color: gray;
  width: 50%;
  height: 350px;
  overflow: scroll;
  float: right;
  clear: both;
}

.listedRoom {
  height: 80px;
  margin-top: 10px;
  clear: both;
}

.listedRoomName, .listedRoomCount {
  display: block;
}

.singleRoom {
  width: 43%;
  height: 330px;
  margin-top: 120px;
  padding: 10px;
  background-color: yellow;
}

.msgList {
  width: 85%;
  height: 150px;
  overflow: scroll;
  background-color: white;
  margin: 0 auto;
}

.msgText {
  color: green;
  display: block;
}

.msgEnter {
  width: 85%;
  height: 100px;
  background-color: gray;
  margin: 10px auto 0 auto;
}