.createRoomControls {
  background-color: green;
  width: 100%;
  height: 150px;
  margin: 0 auto;
}

.nameOfRoomField {
  margin: 0 auto;
  display: block;
}

.createRoomButton {
  margin: 0 auto;
  display: block;
}

.roomList {
  text-align: center;
  width: 50%;
  height: 350px;
  overflow: scroll;
  float: right;
  clear: both;
}

.listedRoom {
  height: 80px;
  background-color: gray;
  border-bottom: 1px solid green;
  clear: both;
}

.listedRoomName, .listedRoomCount {
  display: block;
}

.singleRoom {
  width: 50%;
  height: 350px;
  background-color: yellow;
}

.roomTitle {
  margin: 0 auto;
  display: block;
  text-align: center;
  background-color: blue;
}

.roomMessageList {
  width: 85%;
  height: 150px;
  overflow: scroll;
  background-color: white;
  margin: 0 auto;
}

.msgText {
  color: green;
  display: block;
}

.messageEntryArea {
  width: 85%;
  height: 100px;
  background-color: gray;
  margin: 10px auto 0 auto;
}